@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
font-family: 'Hanken Grotesk';
font-size: 18px;
margin: 0;
height: 100vh;
display: grid;
place-items: center;
}

.main {
    border-radius: 25px;
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.75);
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
}

.result-container {
    background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);
    border-radius: 25px;
    margin: 0;
    width: 50%;
    max-width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
}

.result-text {
    color: hsl(241, 100%, 89%);
    padding: .5em 0;
    font-size: 2rem;
}

.score {
    background: linear-gradient(0deg,  hsla(241, 72%, 46%, 0) 0%, hsla(256, 72%, 46%, 1)  100%);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    padding: 25%;
}

.score h1 {
    text-align: center;
    font-weight: 800;
    font-size: 5rem;
    line-height: 1em;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -70%) 
}

.score p {
    color: hsl(241, 100%, 89%);
    margin: 0;
    line-height: 1em;
    padding: 2em;
    position: absolute;
    transform: translate(-50%)
}

.great-text h3 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 1em 0;
}

.great-text p {
    color: hsl(241, 100%, 89%);
    text-align: center;
    margin: 0;
    padding: 0 4em 4em 4em;
}

.summary {
    width: 50%;
    max-width: 450px;
    margin: 0;
    padding: 2.5em 0;
}

.summary h3 {
    font-size: 2rem;
    margin: 0;
    padding-left: 1em;
}

.score-container {
    padding: 0 3em;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 15px;
    margin: 1em 0;
    width: 100%;
    max-width: 350px;
}

.row h4,
p {
    margin: 18px;
}

.row h4::before {
    content:"";
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    margin: 0;
}

.reaction {
    background: hsla(0, 100%, 67%, 0.2);
}

.reaction h4{
    color: hsl(0, 100%, 67%);
}

.reaction h4::before {
    background: url(https://github.com/sirgra/results-summary-component-main/blob/58fd7673cad5c129db081e1348c26818c27e171c/assets/images/icon-reaction.svg) no-repeat;
}

.memory {
    background: hsl(39, 100%, 56%, 0.2);
}

.memory h4{
    color: hsl(39, 100%, 56%);
}

.memory h4::before {
    background: url(https://github.com/sirgra/results-summary-component-main/blob/58fd7673cad5c129db081e1348c26818c27e171c/assets/images/icon-memory.svg) no-repeat;
}

.verbal {
    background: hsl(166, 100%, 37%, 0.2);
}

.verbal h4{
    color: hsl(166, 100%, 37%);
}

.verbal h4::before {
    background: url(https://github.com/sirgra/results-summary-component-main/blob/58fd7673cad5c129db081e1348c26818c27e171c/assets/images/icon-verbal.svg) no-repeat;
}

.visual {
    background: hsl(234, 85%, 45%, 0.2);
}

.visual h4{
    color: hsl(234, 85%, 45%);
}

.visual h4::before {
    background: url(https://github.com/sirgra/results-summary-component-main/blob/58fd7673cad5c129db081e1348c26818c27e171c/assets/images/icon-visual.svg) no-repeat;
}


.hundred {
    color: hsla(0, 0%, 0%, 0.4);
}

.btn {
    display: flex;
    flex-direction: column;
    place-items: center;
    background: hsl(224, 30%, 27%);
    padding: 1em 0;
    margin: 4em 3em 2em 3em;
    border-radius: 31.5px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    max-width: 350px;
}

.btn:hover,
.btn:focus {
    background: linear-gradient(0deg, hsl(241, 81%, 54%) 0%, hsl(252, 100%, 67%) 100%);
}

@media (max-width: 690px) {
     
    body {
        font-size: 16px;
    }

    .main {
        flex-direction: column;
        border-radius: 0;
    }

    .result-container {
        border-radius: 0 0 25px 25px;
        width: 100%;
        max-width: 800px;
        color: white;
    }

    .result-text {
        padding: .5em 0;
        font-size: 1.25rem;
    }
    
    .score {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        padding: 20%;
    }

    .score h1 {
        text-align: center;
        font-weight: 800;
        font-size: 4rem;
        line-height: 1em;
    }
    
    .great-text h3 {
        text-align: center;
        font-size: 1.5rem;
        line-height: .2em;
        margin: 0;
        padding-top: 1.65em;
    }
    
    .great-text p {
        color: hsl(241, 100%, 89%);
        text-align: center;
        margin: 0;
        padding: 0 3em 1.5em 3em;
    }

    .score-container {
        padding: 0 1.75em;
        margin: 0;
    }

    .summary {
        width: 100%;
        max-width: 800px;
        padding: 1em 0;
    }

    .summary h3 {
        font-size: 1.25rem;
        margin: 0;
        padding-left: 1.25em;
    }

    .row {
        width: 100%;
        max-width: 800px;
    }

    .btn {
        padding: 1em 0;
        margin: 2.5em 1.75em .5em 1.75em;
        max-width: 800px;
    }

}

@media (max-width: 400px) {
     
    body {
        font-size: 16px;
    }

    .main {
        flex-direction: column;
        border-radius: 0;
    }

    .result-container {
        border-radius: 0 0 25px 25px;
        width: 100%;
        max-width: 800px;
        color: white;
    }

    .result-text {
        padding: .5em 0;
        font-size: 1.25rem;
    }
    
    .score {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        padding: 20%;
    }

    .score h1 {
        text-align: center;
        font-weight: 800;
        font-size: 4rem;
        line-height: 1em;
    }
    
    .great-text h3 {
        text-align: center;
        font-size: 1.5rem;
        line-height: .2em;
        margin: 0;
        padding-top: 1.65em;
    }
    
    .great-text p {
        color: hsl(241, 100%, 89%);
        text-align: center;
        margin: 0;
        padding: 0 3em 1.5em 3em;
    }

    .score-container {
        padding: 0 1.75em;
        margin: 0;
    }

    .summary {
        width: 100%;
        max-width: 800px;
        padding: 1em 0;
    }

    .summary h3 {
        font-size: 1.25rem;
        margin: 0;
        padding-left: 1.25em;
    }

    .row {
        width: 100%;
        max-width: 800px;
    }

    .btn {
        padding: 1em 0;
        margin: 2.5em 1.75em .5em 1.75em;
        max-width: 800px;
    }

}
